<!-- <h2 mat-dialog-title>Favorite Animal</h2><mat-dialog-content> -->
<!-- <div
    class="h-62 rounded-lg m-4 bg-blue-400 flex flex-col items-center content-center !p-5"
  >
    <form class="add-form">
      <mat-form-field class="add-full-width">
        <mat-label>title</mat-label>
        <input matInput placeholder="Ex. Homework" />
      </mat-form-field>

      <mat-form-field class="add-full-width">
        <mat-label>Body</mat-label>
        <textarea matInput placeholder="Ex. page 2 to 9"></textarea>
      </mat-form-field>
    </form>

    <button
      (click)="append()"
      class="!bg-green-500 px-4 py-2 rounded-xl shadow-md"
      mat-flat-button
    >
      Add
    </button>
  </div> -->
<mat-dialog-content>
  <p>append your new todo ;)</p>
  <!-- {{ data()?.title }} -->
  <mat-form-field>
    <mat-label>Todo Title</mat-label>

    <input matInput [(ngModel)]="data().title" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Todo Body</mat-label>

    <input matInput [(ngModel)]="data().body" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="append()" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
