<mat-dialog-content>
  <p>append your new todo ;)</p>
  <mat-form-field>
    <mat-label>Todo Title</mat-label>

    <input matInput [(ngModel)]="data().title" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Todo Body</mat-label>

    <input matInput [(ngModel)]="data().body" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button (click)="append()" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
