<router-outlet />

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia" />

<form class="search-form mb-[-200px]">
  <div>
    <div>
      <mat-form-field class="search-full-width">
        <mat-label>Search</mat-label>
        <input
          matInput
          (keyup)="updateField($any($event.target).value)"
          #message
          maxlength="256"
        />
      </mat-form-field>
    </div>

    <div class="flex justify-around items-center mb-3">
      <button
        (click)="openDialog(null)"
        class="!bg-green-500 !text-white"
        mat-flat-button
      >
        <mat-icon>add</mat-icon>
        Add
      </button>
      <button
        (click)="Delete()"
        class="!bg-red-500 !text-white"
        mat-flat-button
      >
        <mat-icon class="material-icons-outlined">delete</mat-icon>
        Delete
      </button>
      <button
        (click)="selectAll()"
        class="!bg-blue-400 !text-neutral-950"
        mat-flat-button
      >
        <mat-icon class="material-icons-outlined">delete</mat-icon>
        Select All
      </button>
    </div>
    <div>
      <div class="flex flex-col gap-4 pb-8">
        @if (data().length == 0) {
        <div
          class="border-2 flex justify-center items-center py-20 shadow-sm rounded"
        >
          <p class="">there is not any todos!</p>
        </div>
        } @else { @for (item of newData().slice().reverse(); track $index) {

        <div
          class="bg-white border rounded !h-auto flex justify-between flex-col p-4"
        >
          <div class="flex gap-2 items-center">
            <div class="flex flex-col gap-2">
              <h2 class="!text-base !font-bold !p-0 !m-0 truncate w-80">
                {{ item.title }}
              </h2>

              <p class="!text-base !p-0 !m-0">{{ item.body }}</p>
            </div>

            <mat-checkbox
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="item.checked"
              class="mt-6"
            ></mat-checkbox>
          </div>

          <div class="flex justify-end gap-2">
            <button
              (click)="deleteItem(item.id)"
              mat-mini-fab
              class="w-8 h-8 !bg-rose-600 flex justify-center !items-center rounded"
            >
              <mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="delete"
              ></mat-icon>
            </button>
            <button
              (click)="openDialog(item)"
              mat-mini-fab
              class="w-8 h-8 !bg-blue-400 flex justify-center !items-center rounded"
            >
              <mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="edit"
              ></mat-icon>
            </button>
          </div>
        </div>

        } }
      </div>
    </div>
  </div>
</form>
<!-- <app-todo-add-form/> -->
