<router-outlet />

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia" />
<form class="search-form mb-[-200px]">
  <div>
    <div>
      <mat-form-field class="search-full-width">
        <mat-label>Search</mat-label>
        <input matInput #message maxlength="256" />
      </mat-form-field>
    </div>

    <div class="flex justify-around items-center">
      <button class="!bg-green-500" mat-flat-button>Add</button>
      <button
        class="bg-red-700"
        mat-fab
        aria-label="Example icon button with a delete icon"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div>
      <mat-selection-list #shoes>
        @for (item of data(); track item.id) {
        <mat-list-option
          class="mb-5 bg-teal-100 rounded-md !h-auto flex justify-between"
        >
          <div class="pb-1 mt-2 text-lg">
            {{ item.title.split(" ").slice(0, 3).join(" ") }}
          </div>
          <div class="text-xs text-wrap mb-1">{{ item.body }}</div>
          <div>
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="delete"
            ></mat-icon>
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="edit"
            ></mat-icon>
          </div>
        </mat-list-option>

        }
      </mat-selection-list>
    </div>
  </div>
</form>
