<router-outlet />
<div
  class="sticky top-0 left-0 w-full right-0 z-10 bg-white m-auto lg:flex lg:flex-row lg:justify-between lg:items-baseline"
>
  <div class="w-10/12 inline-block lg:w-1/4 ml-9">
    <mat-form-field class="mt-4 w-full">
      <mat-label>Search</mat-label>
      <input
        matInput
        (keyup)="updateField($any($event.target).value)"
        #message
        maxlength="256"
      />
    </mat-form-field>
  </div>
  <div class="flex justify-between px-6 items-center mb-6 lg:gap-28">
    <button
      (click)="openDialog(null)"
      class="!bg-green-500 !text-white"
      mat-flat-button
    >
      <mat-icon>add</mat-icon>
      Add
    </button>
    <button
      (click)="deleteAll()"
      class="!bg-red-500 !text-white"
      mat-flat-button
    >
      <mat-icon class="material-icons-outlined">delete</mat-icon>
      Delete
    </button>
    <button
      #selectAllButton
      (click)="selectAll()"
      class="!bg-blue-400 !text-white"
      [style.visibility]="isChecked() ? 'visible' : 'hidden'"
      mat-flat-button
    >
      Select All
    </button>
  </div>
</div>
<form class=" ">
  <div class="flex flex-col items-center justify-center">
    <!-- search box and buttons -->

    <!-- list of todos -->
    @if (filtredTodos().length == 0) {
    <app-empty-box />
    } @else{
    <div class="flex flex-col w-full gap-3">
      @for (item of filtredTodos().slice().reverse(); track $index) {

      <div
        class="flex flex-col justify-between bg-white border rounded p-4 w-11/12 m-auto overflow-hidden"
      >
        <div class="flex justify-between gap-2 w-full">
          <div class="flex flex-col gap-2">
            <h2 class="!text-base !font-bold !p-0 !m-0">
              {{ item.title }}
            </h2>

            <p class="!text-base !p-0 !m-0">{{ item.body }}</p>
            <!-- check box  -->
          </div>
          <mat-checkbox
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="item.checked"
            (ngModelChange)="handleCheckBoxChange(item)"
          ></mat-checkbox>
        </div>

        <div class="flex justify-end gap-2">
          <button
            (click)="deleteItem(item.id)"
            mat-mini-fab
            class="w-8 h-8 !bg-red-500 !text-white flex justify-center !items-center rounded"
          >
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="delete"
            ></mat-icon>
          </button>
          <button
            (click)="openDialog(item)"
            mat-mini-fab
            class="w-8 h-8 !bg-lime-600 !text-white flex justify-center !items-center rounded"
          >
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="edit"
            ></mat-icon>
          </button>
        </div>
      </div>

      }
    </div>
    }
  </div>
</form>
